/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FONTS */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.eot');
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato-Italic.woff') format('woff'),
        url('../fonts/Lato-Italic.ttf') format('truetype'),
        url('../fonts/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?89016819');
  src: url('../fonts/fontello.eot?89016819#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?89016819') format('woff2'),
       url('../fonts/fontello.woff?89016819') format('woff'),
       url('../fonts/fontello.ttf?89016819') format('truetype'),
       url('../fonts/fontello.svg?89016819#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* TYPOGRAPHY */
html {
	font-size: 16px;
	font-family: Lato, Arial, sans-serif;
	color: #333333;
}

h1 {
	font-size: 4.5rem;
	line-height: 1.14;
}

h2, h3, h4 {
	font-weight: bold;	
}

h2 {
	font-size: 2.25rem;	
	line-height: 1.17;
}

h3 {
	font-size: 1.5rem;	
}

h4 {
	font-size: 0.875rem;
	line-height: 1.2;
}

p {
	font-size: 1.125rem; 
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}
 
.text-transform--uppercase {
	text-transform: uppercase;
}

.text-transform--lowercase {
	text-transform: lowercase;
}

.text-decoration--underline {
	text-decoration: underline;
}

.font--georgia-i {
	font-family: Georgia, serif;
	font-style: italic;
}

.font--lato-bold {
	font-family:  Lato, Arial, sans-serif;
	font-weight: bold; 
}

.header__nav a {
	font-size: 0.875rem;
}

.header__p {
	font-size: 1.5rem; 
	line-height: 1.46;
}

.header__p, 
.main__p, 
.breadcrumps__link {
	color: #606060;
}

.main__p {
	font-size: 1.125rem; 
	line-height: 1.23;
}

.twit__text {
	font-size: 0.875rem;
	line-height: 1.4;	
}

.btn {
	font-size: 0.875rem;	
}

.footer li, 
.footer__p  {
	font-size: 0.75rem;
	line-height: 1.9;	
}

.breadcrumps__link {
	font-size: 0.75rem;
}

.product-item__price {
	font-size: 0.875rem;
}

.header__keyword {
	font-family: Lato, Arial, sans-serif;
	font-weight: 300;
}

/* FALLBACK for browsers without grid's support */
/* from 1200px */
* {
	box-sizing: border-box;
}

.header,
.main,
.footer {
	min-width: 480px;
}

.container--center {
	max-width: 1200px;
	min-width: 480px;
	width: 100%;
	margin: 0 auto;
	padding: 0 0.625rem;
}

/* HEADER NAV */
.header__menu {
	height: 7.1875rem;
	border-bottom: 1px solid #e5e5e5;
	line-height: 7.125rem;
}

.header__menu--left, 
.header__menu--right, 
.header__logo, 
.header__nav--left, 
.header__personal-page, 
.header__cart, 
.header__search {
	display: inline-block;	
}

.header__menu * {
	vertical-align: middle;
}

.header__cart__link--mobile, 
.header__burger-menu {
	display: none;
}

.header__menu--left, 
.header__menu--right {
	width: 50%;
	line-height: 3.0625rem;
}

.header__nav--left {
	width: calc(100% - 42px);
}

.header__nav--left a:first-child {
	margin-left: 4.5%;
}

.header__nav--left a:not(:last-child) {
	margin-right: 4.5%;
}

.header__menu--right {
	text-align: right;
}

.header__logo {
	width: 42px;
	height: 42px;
	background-color: #272727;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 42px;
}

.header__logo__link {
	display: inline-block;
	line-height: 0;
}

.header__personal-page, 
.header__cart {
	margin-right: 4.5%;
}

/* HEADER MUSTHEAD */
.header__musthead {
	text-align: center;
}

.header__musthead__text {
	padding: 9.375rem 0; 
}

.header__musthead__text h1 {
	margin-bottom: 2.375rem; 
}

.header__musthead__text p {
	margin-bottom: 4.6875rem; 
}

.btn--grey {
	padding: 1.5625rem  2.0625rem;
	border: 1px solid #949494;
}

.btn--grey:hover {
	text-decoration: none;
}

/* MAIN PROMO */
/* clearfix */
.main__promo::before,
.main__promo::after {
  content: '';
  display: table;
}

.main__promo::after {
  clear: both;
}

.main__promo {
  clear: both;
  *zoom: 1;
}

/* vertical-align */
.promo__block:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.promo__text {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    color: #ffffff;
}

/* typography */
.promo__text h3 {
	margin-bottom: 0.875rem; 
	line-height: 1.125;
}

/* block style */
.promo__block {
	display: inline-block;
	text-align: center;
	width: 25%;
}

.promo__block--rectangle {
	height: 590px;
}

.promo__block--square {
	height: 295px;	
}

.promo__block--double {
	display: inline-block;
	white-space: nowrap;
	width: 50%;
}

.square--img-1, 
.square--img-2, 
.square--description {
	width: 50%;
}  

.rectangle--1 {
	background: url('../images/item-1.png');
	float: left;
}

.rectangle--2 {
	background: url('../images/item-4.png');
	float: right;	
}

.square--img-1 {
	background: url('../images/item-2.png');
}

.square--img-2 {
	background: url('../images/item-5.png');
}

.square--1 {
	background: url('../images/item-3.png');	
} 

.square--2 {
	background: url('../images/item-6.png');
}

.square--twit {
	background: #bababa;
}

.square--description {
	background: #606060;	
}

.description--light {
	background: #7a7a7a;
}

.rectangle--1, 
.rectangle--2,
.square--img-1, 
.square--img-2,
.square--1, 
.square--2 {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;

}

.description__poiner {
	margin-bottom: 1rem;
}

.twit__account {
	margin-top: 1.25rem;
}

.twit__bird {
	margin-bottom: 1.75rem;
}

/* MAIN SUBSCRIBE */
.main__subscribe {
	text-align: center;
}

.main__subscribe__text {
	padding: 9.25rem 0; 
}

.main__subscribe__text h2 {
	margin-bottom: 1.375rem;
}

.main__subscribe__form {
	margin-top: 3.375rem;
}

.btn--orange {
	background-color: #dc813e; 
	color: #ffffff;
	border: 1px solid #cd7333;
	outline: 0;
	padding: 0;
	cursor: pointer;
}

.form__input {
	border: 1px solid #949494;
	border-right: 0;
	padding: 24px 14px;
	font-family: Lato, Arial, sans-serif;
	font-style: italic;
	color: #606060;
	font-size: 0.875rem;
	outline: 0;
}

.main__subscribe__form button, .main__subscribe__form input {
	height: 56px;
	vertical-align: top;	
} 

.main__subscribe__form button {
	width: 95px;
}

.main__subscribe__form input {
	width: 40%;
	min-width: 330px;
}

/* FOOTER */
.footer {
 	background: #f4f4f4;
}

.footer__container {
	display: table;
	padding: 4.125rem 0;
	width: 100%;
}

.footer__cell {
	display: table-cell;
	width: 25%;
	vertical-align: top;
	padding: 0.875rem 1.25rem ; 
}

.footer__cell:not(:last-child) {
	border-right: 1px solid #e1e1e1;
}

.footer h4 {
	margin-bottom: 0.625rem;
}


.footer__p {
	margin-bottom: 0.875rem;
}

.footer__social-link {
	display: inline-block;
	line-height: 0;
}

.footer__social-link:not(:last-child) {
	margin-right: 16px;
}





/* (!) PAGE: ALL CATEGORY */
/* breadcrumps */
.breadcrumps ul {
	margin-top: 1.25rem;
}

.breadcrumps li {
	display: inline;
}

.breadcrumps li:not(:last-child):after {
	content: ' / ';
}

/* catalog section */
.catalog__section {
	padding: 2rem 0;
}

.catalog__section__header {
	text-align: center;	
}

.catalog__section__header h2 {
	margin-bottom: 0.625rem;
}

.show-more {
	vertical-align: middle;
}

.show-more:after {
	font-family: "fontello";
  	font-style: normal;
  	font-weight: normal;
	content: ' \e800';
	font-size: 0.5rem;
	margin-left: 0.25rem; 
	vertical-align: middle;
}

/* clearfix */
.product-list::before,
.product-list::after {
  content: '';
  display: table;
}

.product-list::after {
  clear: both;
}

/* product list */
.product-list {
  clear: both;
  *zoom: 1;
  margin-top: 2rem;
}

.product-item {
	float: left;
	width: 25%;
	min-width: 220px;
	height: 362px;	
	margin-bottom: 1.875rem;
	padding: 9px;
	border: 1px solid transparent;
	text-align: center;
}

.product-item:hover {
	border: 1px solid #e1e1e1;
}

.product-item__img__link,
.product-item__header {
	display: inline-block;
}

.product-item__img, 
.product-item__header {
	width: 208px;
}

.product-item__img__link {
	margin-bottom: 1rem;
	line-height: 0;
}

.product-item__img {
	height: 256px;
	object-fit: cover;
}


.product-item__header h4 {
	height: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0.625rem;
}





/* to 768px */
@media screen and (max-width: 768px) {

	/* TIPOGRAPHY */
	h1 {
		font-size: 4.375rem;
	}

	h2 {
		font-size: 2.25rem;	
	}

	h3 {
		font-size: 1.5rem;	
	}

	.footer__cell--social h4 {
		font-size: 1.875rem;
	}

	p {
		font-size: 1.375rem; 
	}

	.main__p {
		font-size: 1.125rem; 
	}

	.footer__p  {
		font-size: 1.125rem;	
	}

	.btn {
		font-size: 1.25rem;	
	}

	.container--center {
		padding: 0 1.25rem;
	}

	/* HEADER NAV*/
	.header__nav--left, 
	.header__personal-page,
	.header__cart__i--desktop, 
	.header__cart__link,
	.header__search  {
		display: none;
	}

	.header__burger-menu, 
	.header__cart__link--mobile {
		display: inline-block;
		line-height: 0;
	}

	.header__menu {
		height: 6.25rem;
		line-height: 6.1875rem;
	}

	.header__menu--left, 
	.header__menu--right {
		line-height: 5rem;
	}
	
	.header__logo {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 26px;
	}

	.header__cart {
		margin-right: 42px;
	}

	/* HEADER MUSTHEAD */
	.header__musthead__text {
		padding: 3.75rem 0; 
	}

	.header__musthead__text p {
		margin-bottom: 0; 
	}

	.btn--grey {
		display: none;
	}

	/* MAIN PROMO */
	.promo__block {
		width: 100%;
	}

	.promo__block--rectangle, 
	.square--twit {
		display: none;
	}

	.promo__block--square {
		height: 290px;	
	}

	.promo__block--double {
		white-space: normal;
		width: 100%;
	}

	.square--img-1, 
	.square--img-2, 
	.square--description {
		width: 100%;
	}  

	.square--description {
		height: 200px;
	}  	

	.description__poiner {
		transform: rotate(90deg);	
	}

	/* MAIN SUBSCRIBE */
	.main__subscribe__text {
		padding: 5rem 0; 
	}

	.form__input {
		font-size: 1.25rem;
	}

	.main__subscribe__form button {
		width: 110px;
	}

	/* FOOTER */
	.footer__container {
		padding: 3.875rem 0;
	}

	.footer__cell {
		padding: 0; 
	}

	.footer__cell:not(.footer__cell--social){
		display: none;
	}

	.footer__cell {
		width: 100%;
	}	

	.footer__cell--social {
		text-align: center;
	}

	.footer h4 {
		margin-bottom: 1.5rem;
	}


	.footer__p {
		margin-bottom: 3.375rem;
		line-height: 1.67;
	}

	/* (!) PAGE: ALL CATEGORY */
	.product-item {
		width: 50%;
	}

	.product-item__img, 
	.product-item__header {
		width: 200px;
	}

	.product-item__img {
		height: 246px;
	}	
}

/* from 769px to 992px */	
@media screen and (min-width: 769px) and (max-width: 992px) {

	/* MAIN PROMO */
	.promo__block {
		width: calc(100%/3);
	}

	.promo__block--rectangle, 
	.square--twit {
		display: none;
	}

	.promo__block--double {
		width: calc((100%/3)*2);
	}

	.square--img-1, 
	.square--img-2, 
	.square--description {
		width: 50%;
	}  

	/* (!) PAGE: ALL CATEGORY */
	.product-item {
		width: calc(100% / 3 );
	}

}

/* from 993px to 1200px */	
@media screen and (min-width: 993px) and (max-width: 1200px) {

}





