/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Подключение шрифтов */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.eot');
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato-Italic.woff') format('woff'),
        url('../fonts/Lato-Italic.ttf') format('truetype'),
        url('../fonts/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Типографика */
html {
	font-size: 16px;
	font-family: Lato, Arial, sans-serif;
	color: #333333;
}

h1 {
	font-size: 4.5rem;
}

h2, h3, h4 {
	font-weight: bold;	
}

h2 {
	font-size: 2.25rem;	
}

h3 {
	font-size: 1.5rem;	
}

h4 {
	font-size: 0.875rem;
}

p {
	font-size: 1.125rem; 
}

a {
	text-decoration: none;
	color: inherit;
}
 
.text-transform--uppercase {
	text-transform: uppercase;
}

.font--georgia-i {
	font-family: Georgia, serif;
	font-style: italic;
}

.header__p {
	font-size: 1.5rem; 
}

.header__nav a {
	font-size: 0.875rem;
}

.main__figcaption {
 	color: #000000 /* #ffffff */;
 }

.main__figcaption__twit {
	font-size: 0.875rem;	
}

.main__p {
	font-size: 1.125rem; 
}

.footer a {
	font-size: 0.75rem;	
}

.footer__p {
	font-size: 0.75rem;	
}

.btn {
	font-size: 0.875rem;	
}


/* Для браузеров без поддержки Grid */
/* От 1200px */
* {
	box-sizing: border-box;
}

.container--center {
	max-width: 75rem;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0 0.625rem;
}

/* Навигация */

.header__menu {
	height: 7.1875rem;
	border-bottom: 1px solid #e5e5e5;
	line-height: 7.125rem;
}

.header__menu--left, .header__menu--right, 
.header__logo, .header__nav--left, .header__personal-page, 
.header__cart, .header__search {
	display: inline-block;	
}

.header__cart__i--mobile, .header__burger-menu {
	display: none;
}

.header__menu--left, .header__menu--right {
	width: 50%;
	line-height: 3.0625rem;
}

.header__nav--left {
	width: calc(100% - 42px);
}

.header__nav--left a:first-child {
	margin-left: 4.5%;
}

.header__nav--left a:not(:last-child) {
	margin-right: 4.5%;
}

.header__menu--right {
	text-align: right;
}

.header__logo {
	width: 42px;
	height: 42px;
	background-color: #272727;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 42px;
}

.header__logo__link {
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 0;
}

.header__search {
	vertical-align: middle;
}

.header__personal-page, .header__cart {
	margin-right: 4.5%;
}

/* Заголовок */
.header__musthead {
	height: 33.625rem;
	position: relative;
	text-align: center;
}

.header__musthead__text {
	width: fit-content; /* Прочитай подробнее */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Прочитай подробнее */
}


.header__musthead__text h1 {
	margin-bottom: 2.375rem; 
}

.header__musthead__text p {
	margin-bottom: 4.6875rem; 
}

.btn--grey {
	padding: 1.5625rem  2.0625rem;
	border: 1px solid #949494;
}


/* !!! До 768px */
@media screen and (max-width: 48rem) {
	.container--center {
		width: 100%;
		min-width: 30rem;
		padding: 0 1.25rem;
	}

	.header__menu {
		height: 6.25rem;
		padding: 1.25rem 0;
		border-bottom: 1px solid #e5e5e5;
	}
	
	.header__logo {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 26px;
	}

	.header__nav--left {
		display: none;
	}

	.header__personal-page {
		display: none;
	}

	.header__cart__i--desktop {
		display: none;	
	} 

	.header__cart__i--mobile {
		display: inline;
	}

	.header__cart__link {
		display: none;
	}







	.header__burger-menu {
		display: inline;
	}

	.header__search {
		display: none;
	}	



}








/* от 768px до 1200px */	
@media screen and (max-width: 73.75rem) {

}



/* Для браузеров с поддержкой Grid */
@supports(grid-area: auto) {
	@media screen and (max-width: 48rem) {

	}
	
	@media screen and (max-width: 77.875rem) {

	}

}